<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Opções</title>
</head>

<body>
    <div class="container">
            <div>
                <span class="title"> <strong>Gabriel Santana Silva - RA: 21429</strong> </span>
                <div class="descricao">
                    <span>Flask - Python</span> <br>
                    <span>Campos</span>
                </div>
            </div>

            <div class="buttons-field">

                <h2 class="button-title">Botões</h2>
                <form class="" action="/on" method="post">
                    <button class="button">ON</button>
                </form>
                <form class="" action="/off" method="post">
                    <button class="button">OFF</button>
                </form>
            </div>

    </div>

</body>

</html>